$mobile: 'screen and (min-width: 375px)';
$mobile-lanscape: 'screen and (min-width: 520px)';
$tablet: 'screen and (min-width: 768px)';
$laptop: 'screen and (min-width: 1024px)';
$desktop: 'screen and (min-width: 1440px)';

$accent-color: #808cff;
$accent-shadow-color: rgba(#808cff, 0.5);
$gray: #999999;
$gray-background: rgba(#bfbfbf, 0.18);
$accent-background: rgba(#808cff, 0.18);
$white: #ffffff;
$error: #ff0000;
